<table>
	<tr border="1" width="900">
		<th width="20%">ユーザー名</th>
		<th width="20%">タイトル</th>
		<th width="20%">内容</th>
		<th width="20%">カテゴリー</th>
		<th width="20%">写真</th>
	</tr>
	<% @posts.each do |post| %>
	<tr>
		<td><%= post.user.name %></td>
		<td><%= post.title %></td>
		<td><%= post.body %></td>
		<td><%= post.category.category %></td>
		<td>
			<% post.images.each do |image| %>
				<%= image_tag(image.thumb.url) %>
			<% end %>
		<td>
	</tr>
	<% end %>
</table>